<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mongo Scraper</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/javascript/home.js"></script>
    <script type="text/javascript" src="/javascript/saved.js"></script>
</head>

<body>
    <div class="container-fluid">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo center">Mongo-Scraper</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">Menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#" onclick="displaySaved()">Saved Articles</a></li>
                    <button data-target="scrape-Headline" class="btn waves-effect waves-light black modal-trigger" onclick="displayScrape()">Scrape Articles!!!!!</button>

                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#">Home</a></li>
                    <li><a href="#" onclick="displaySAved()">Saved Articles</a></li>
                    <button data-target="scrape-Headline" class="btn waves-effect waves-light modal-trigger" onclick="displayScrape()">Scrape Articles!!!!!</button>
                </ul>
            </div>
        </nav>

        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/images/newyorktimes.jpg">
                    <div class="caption center-align">
                        <h3 class="black">MONGO SCRAPER</h3>
                        <h5 class="black">NEW YORK TIMES</h5>
                    </div>
                </li>
                <li>
                    <img src="/images/skyline.png">
                    <div class="caption left-align">
                        <h3>NEW YORK TIMES HOMEPAGE</h3>
                        <h5>FIND YOUR FAVORITE ARTICLES!</h5>
                    </div>
                </li>
                <li>
                    <img src="/images/liberty.jpg">
                    <div class="caption right-align">
                        <h3>NEW YORK TIMES</h3>
                        <h5>SAVE YOUR ARTICLES!</h5>
                    </div>
                </li>
                <li>
                    <img src="/images/blimp.jpg">
                    <div class="caption center-align">
                        <h3 class="black">NEW YORK TIMES</h3>
                        <h5 class="black">SCRAPE YOUR FAVORITE ARTICLES</h5>
                    </div>
                </li>
            </ul>
        </div>
        
        <div id="scrape-Headline" class="modal">
            <div class="modal-content">
                <h4>Number of Articles Scraped</h4>
                <h4 id="total-number"></h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-action modal-close waves-effect waves-green btn">Close</a>
            </div>
        </div>
    </div>
    <div id="notes" class="modal">
        <div class="modal-content">
            <form>
                <h4 id="display-title"></h4>
                <div id="display-note"></div>
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Enter Information</label>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn" id="savenote">Save Note</a>
        </div>
    </div>

</body>

</html>